.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;

  display: flex;
  align-items: center;

  .background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--highlight-color);
    border-radius: 0;
    opacity: 0.88;
  }

  .close {
    color: currentColor;
    background-color: transparent;
    font-size: 2em;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
  }

  .card {
    width: calc(var(--base) * 22);
    padding-bottom: calc(var(--base) * 3);
  }
}


.cards {
  list-style: none;
  padding: var(--gap);
  display: flex;
  justify-content: center;
  width: 100%;
  gap: calc(var(--gap) / 2);
  pointer-events: none;
}

  .card {
    pointer-events: auto;
    position: relative;
    height: 100%;
    padding: var(--base);
    // max-width: calc(var(--base) * 20);
    background-color: white;
    border-radius: calc(var(--base) * 2);

    figure {
      margin: calc(var(--base) * 2);

      img {
        width: 100%;
        height: calc(var(--gap) * 2.5);
        object-fit: contain;
      }
    }

    center {
      position: absolute;
      bottom: var(--base);
      left: 0;
      width: 100%;
      opacity: 0.33;
    }
  }

