.text,
.membres,
.texts,
.articles {
  padding: var(--gap);
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.text {
  // display: flex;

  &.Hero {
    display: flex;
    height: 90vh;
    width: var(--max-width);
  }

  &.Big {
    width: var(--max-width);
    padding: var(--gap)
  }

  &.Small {
    // background-color: red;
  }
}

.membres {
  figure {
    margin: var(--gap) 0;
    width: calc(var(--gap) * 4);

    img {
      border-radius: 50%;
    }
  }
}

.texts {
  // display: flex;
  // flex-direction: column;
  // height: 90vh;
  // width: 1200px;

  hr {
    height: calc(var(--base) / 2);
    margin: calc(var(--base) * 2) 0;
    border: none;
    background-color: var(--highlight-color);
  }

  .content {
    flex-direction: row;
    gap: var(--gap);

    > h2,
    > div {
      width: 50%;
    }
  }
}

.articles {
}