.text,
.membres,
.texts,
.articles {
  padding: var(--gap);
}


.text {
  
  &.Hero {
  }

  &.Big {
    
  }

  &.Small {
    
  }
}

.membres {

  figure {
    margin: var(--gap) 0;
    width: calc(var(--gap) * 4);

    img {
      border-radius: 50%;
    }
  }
}

.texts {

}

.articles {
  
}