.footer {
  padding: calc(var(--gap) / 2) var(--gap);
  // color: var(--lowlight-color);
  // background-color: white;

  @media (max-width: 888px) {
    padding: calc(var(--gap) / 3);
  }

  hr {
    border: none;
    border-top: 1px solid;
  }

  svg {
    path {
      stroke: currentColor !important;
      fill: transparent !important;
    }
  }

  > nav,
  > div,
  > hr {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  > nav:first-of-type {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--gap) / 2) auto;

    span,
    nav {
      font-size: calc(var(--base) * 1.5);
      font-weight: 500;
      width: 50%;
      margin-bottom: calc(var(--gap) / 2);

      @media (max-width: 888px) {
        width: 100%;
        font-size: calc(var(--base) * 1.25);
      }

      small {
        opacity: 0.666;
      }
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    margin: calc(var(--base) / 2) auto;

    nav {
      display: flex;
      gap: var(--base);
    }
  }
}