:root {
  --gap: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  html {
    /* color-scheme: dark; */
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

body {
}

a {
  color: inherit;
}

img,
video,
audio {
  display: block;
  width: 100%;
  max-width: 100%;
}
