:root {
  --base: 16px;
  --gap: calc(var(--base) * 3.5);
  --max-width: 1200px;
  --highlight-color: #333;
  --lowlight-color: #fbfbf8;
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  html {
    /* color-scheme: dark; */
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  background: var(--lowlight-color);
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
}

main[role="main"] {
  font-family: var(--font-montreal);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 var(--base);
}

h1 {
  font-family: var(--font-editorial);
  font-weight: 400;
  font-size: 72px;
  line-height: 115%;
}

h2 {
  font-family: var(--font-editorial);
  font-size: 26px;
}

h3 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 500;
}

h4 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: var(--base);
  line-height: 125%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: calc(var(--base) / 2) calc(var(--base) / 1.5) calc(var(--base) / 2) var(--base);
  border-radius: 2em;
  border: none;
  font-size: var(--base);
  color: var(--lowlight-color);
  background-color: var(--highlight-color);

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img,
video,
audio {
  display: block;
  width: 100%;
  max-width: 100%;
}
