:root {
  --gap: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  html {
    /* color-scheme: dark; */
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  background-color: '#fbfbf8';
}

body {
  font-size: 16px;
}

main[role="main"] {
  font-family: var(--font-montreal);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: var(--font-editorial);
  font-weight: 400;
  font-size: 72px;
  line-height: 115%;
  max-width: 75%;
}

h2 {
  font-family: var(--font-editorial);
  font-size: 26px;
}

h3 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 500;
  max-width: 80%;
}

h4 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
  max-width: 80%;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 28px;
  line-height: 36px;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video,
audio {
  display: block;
  width: 100%;
  max-width: 100%;
}
