.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  padding: calc(var(--base) / 2);
  
  background-color: var(--lowlight-color);
  border-bottom: 1px solid var(--highlight-color);

  .content {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: var(--base);
  }

  .menu {
    display: none;

    nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--lowlight-color);
      border-bottom: 1px solid var(--highlight-color);

      padding: calc(var(--base) / 2) calc(var(--base) / 2) calc(var(--base) * 2);
      flex-direction: column;
      align-items: center;

      a {
        font-size: calc(var(--base) * 1.25);
        font-weight: 500;
      }

      button {
        margin-top: var(--base);
      }
    }
  }

  @media (max-width: 888px) {
    .content > nav,
    .button {
      display: none;
    }

    .menu {
      display: block;
    }
  }
}

