.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  align-items: center;
  justify-content: center;
  
  flex-direction: row;
  //background-color: #dedede;
  //border-bottom: 1px solid;
}

.content {
  display: flex;
  width: 1200px;
  align-items: center;
  //background-color: blueviolet;

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}