.header {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--gap);
  align-items: center;
  justify-content: center;
  
  background-color: var(--lowlight-color);
  border-bottom: 1px solid var(--highlight-color);

  .content {
    display: flex;
    width: var(--max-width);
    align-items: center;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: var(--base);
  }
}

