.title {
  position: relative;
  display: flex;
  margin-bottom: calc(var(--gap) / 2);

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    > h2 {
      position: absolute;
      margin-bottom: 0;
      margin-top: 0.1em;
      color: white;
    }
  }

  svg {
    path {
      fill: currentColor;
    }
  }
}